---
import Section from "./Section.astro";
---

<Section
  title="Model Y"
  subtitle="Concertar una prueba de conduccion"
  color="black"
>
  <div slot="footer" class="flex gap-x-4 mx-auto">
    <a
      class="bg-black
          text-sm
          rounded
          font-medium
        text-white
          px-12 py-3
          inline-block
          transition-colors
        hover:bg-gray-600
        hover:text-white"
      href="#"
    >
      Explorar inventario
    </a>
    <a
      class="bg-white
          text-sm
          rounded
          font-medium
        text-black
          px-12 py-3
        hover:bg-gray-900
        hover:text-white
        inline-flex
        justify-center
        items-center
          transition-colors"
      href="#"
    >
      Pedido personalizado
    </a>
  </div>
  <img
    slot="backgroud"
    src="https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-Y-Desktop-Global.png"
    alt="Model Y"
    class="h-full w-full object-cover object-center"
  />
</Section>
