---
import Section from "./Section.astro";
---

<Section
  title="Disfrute de Tesla"
  subtitle="Programe una prueba de conduccion hoy mismo"
  color="white"
>
  <div slot="footer">
    <a
      class="border-[3px]
            text-sm
            rounded
            font-medium
          text-white
            px-12 py-2
            inline-block
          hover:bg-white
          hover:text-black
            transition-colors
            border-white
            bg-white/5
            backdrop-blur-sm"
      href="#"
    >
      Prueba de conduccion
    </a>
  </div>
  <video
    slot="backgroud"
    class="object-center object-cover w-full h-full"
    autoplay
    muted
    loop
    src="https://digitalassets.tesla.com/tesla-contents/video/upload/f_auto,q_auto:best/roadster-loop-imperial.mp4"></video>
</Section>